<footer class="admin-main-footer-container">
    <div class="admin-main-footer">
        <p class="admin-main-footer__copyright">&copy; 2024 Grupo Sie7e y asociados. Todos los derechos reservados</p>
    </div>
</footer>