<header class="admin-main-header-container">
  <div class="admin-main-header">
    <div class="admin-main-header__logo">
      <a href="/"><img src="/images/logoG7-admin.svg" alt="logoG7"></a>
    </div>
    <p class="admin-main-header__title"><i class="main-header__pipe fas fa-chevron-right"></i>Administración</p>
    <div class="admin-main-header__burguer-menu" id="admin-menu-trigger">
      <i class="fa-solid fa-burger"></i>
    </div>
    <ul id="admin-menu" class="admin-menu">
      <% if(userSession) { %>
        <li class="admin-menu-item" data-index="0">
          <a href="/users/profile">
            <%= userSession.firstName %>
          </a>
        </li>
        <li>|</li>
        <% }else{ %>
          <li class="admin-menu-item" data-index="0">
            <a href="/users/login">Iniciar sesion</a>
          </li>
          <li>|</li>
          <li class="admin-menu-item" data-index="1">
            <a href="/users/register">Registrarse</a>
          </li>
          <li>|</li>

          <% } %>
            <li class="admin-menu-item" data-index="2">
              <a href="/products/list">Productos</a>
            </li>
            <li>|</li>
            <li class="admin-menu-item" data-index="3"><a href="/about">About</a></li>
    </ul>

    <nav>
      <span class="admin-main-header__products"><a href="/products/list">Productos</a></span>
      <% if(userSession) { %>
        <span class="admin-main-header__register--admin"><a href="/users/profile">
            <%= userSession.firstName %>
          </a></span>
        <% }else{ %>
          <span class="admin-main-header__login"><a href="/users/login">Iniciar sesión</a></span>
          <span class="admin-main-header__register"><a href="/users/register">Registro</a></span>
          <% } %>
    </nav>

    <script>
      // JavaScript para manejar el clic y la expansión del menú
      document
        .getElementById("admin-menu-trigger")
        .addEventListener("click", function () {
          var menu = document.getElementById("admin-menu");
          menu.classList.toggle("admin-show");
        });

      // Añadir evento de clic a los elementos del menú
      var menuItems = document.querySelectorAll(".admin-menu-item");
      menuItems.forEach(function (item) {
        item.addEventListener("click", function (event) {
          event.stopPropagation(); // Evitar que el clic se propague al contenedor del menú
        });
      });

      // Cerrar el menú si se hace clic fuera del menú
      document.addEventListener("click", function (event) {
        var menu = document.getElementById("admin-menu");
        var trigger = document.getElementById("admin-menu-trigger");
        if (!menu.contains(event.target) && !trigger.contains(event.target)) {
          menu.classList.remove("admin-show");
        }
      });
    </script>
  </div>
</header>