<footer class="main-footer">
    <p class="main-footer__copyright">© Grupo Sie7e y asociados. Todos los derechos reservados</p>
    <div class="main-footer__social-icons">
        <a href="https://www.instagram.com" target="_blank" class="social-icon-ig">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank" class="social-icon-fb">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank" class="social-icon-tw">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com" target="_blank" class="social-icon-yt">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
</footer>