<header class="top-side-container">
    <div class="top-side">
        <div class="top-side__logo">
            <a href="/"><img src="/images/logoG7.svg" alt="logoG7"></a>
        </div>
        <div class="top-side__burguer-menu">
            <i class="fa-solid fa-burger"></i>
        </div>
        <nav>
            <ul>
                <li class="login"><a href="/users/login">Iniciar sesión <i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
                <li class="carrito"><a href="/products/cart">Carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>
</header>