<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head.ejs") %>
        <title>Nosotros | Grupo Sie7e</title>

        <!--Hoja de estilos propia de esta página-->
        <link rel="stylesheet" href="/css/about-us.css">
</head>

<body>
    <%- include ('partials/header.ejs') %>
        <main>
            <img src="/images/imagen1.png" alt="imagen1">

            <h1>¿Quiénes Somos?</h1>

            <p>Somos una empresa dedicada a ofrecer los mejores sánguches y viandas de calidad en la ciudad de La
                Rioja capital. Nuestra pasión por la buena comida nos impulsa a crear experiencias gastronómicas
                únicas que deleitan a nuestros clientes.</p>

            <p>Nuestra <b>misión</b> es proporcionar a nuestros clientes productos frescos y deliciosos, combinados con
                un
                servicio de entrega eficiente y amigable. Nos esforzamos por ser la opción preferida para aquellos
                que buscan comodidad y calidad en cada bocado.</p>

            <p>Nuestros <b>valores</b> son</p>
            <ul>
                <li><u>Calidad</u>: Utilizamos solo ingredientes frescos y de alta calidad para asegurar que cada
                    sánguche
                    sea una delicia.</li>
                <li><u>Innovación</u>: Constantemente innovamos nuestro menú para ofrecer nuevas y emocionantes opciones
                    a
                    nuestros clientes.</li>
                <li><u>Servicio al Cliente</u>: Nos comprometemos a brindar un servicio excepcional, asegurando que cada
                    cliente tenga una experiencia satisfactoria.</li>
                <li><u>Comunidad</u>: Apoyamos y colaboramos con productores locales para contribuir al desarrollo de
                    nuestra comunidad.</li>
            </ul>

            <h1>Nuestro Equipo</h1>
            <p>Conoce al equipo detrás de nuestros deliciosos sánguches:</p>

            <section class="our-team">
                <section>
                    <h2>Padula Lugo Jorge</h2>
                    <p>Soy estudiante de Ingeniería en Sistemas de Información en la Universidad Nacional de La
                        Rioja
                        (UNLaR).
                        A lo largo de mi carrera, he tenido la oportunidad de programar en una variedad de lenguajes
                        y
                        tecnologías, lo que me ha permitido adquirir una visión amplia y general del campo de la
                        programación,
                        aunque no me he especializado en un área específica.</p>
                </section>
                <section>
                    <h2>Arias Simone Mariano</h2>
                    <p>Estudiante de Ingeniería en Sistemas de Información en la UNLaR. Tengo formación en física y
                        docencia.
                        Me dedico a dar clases particulares tanto de física como de matemática. Tengo un poco de
                        experiencia
                        programando en algunos lenguajes populares.</p>
                </section>
                <h2>Avila Braian Emanuel</h2>
                <p>Estudiante de Ingeniería en Sistemas de Información en la UNLaR. Trabajo haciendo monitoreo
                    en
                    una
                    empresa de seguridad. Tengo poca experiencia programando mas de la que me dan las clases de
                    la
                    facultad
                    o viendo y aprendiendo por videos de youtube.</p>
            </section>
            <h2>Solorzano Garcia Jesus</h2>
            <p>Soy estudiante de Licenciatura en Sistemas con experiencia en soporte técnico. Actualmente estoy cursando
                la carrera de Licenciatura en Sistemas, donde voy adquiriendo conocimientos fundamentales en el
                desarrollo y mantenimiento de sistemas informáticos. Además, he trabajado como soporte técnico,
                brindando asistencia y soluciones tecnológicas a los usuarios.</p>
            </section>
            <h2>Barros Jorge Esteban</h2>
            <p>Me recibi de Lic. en Kinesiologia y Fisioterapia en el año 2020, profesion que estoy ejerciendo
                actualmente pero desde hace un año atras comence a introducirme en la programacion. Tengo conocimientos
                basicos de Diseño Ux Ui, html y css por interes propio en distintas plataformas digitales.</p>

            </section>
            <p class="last-line">Vení y disfrutá de la mejor experiencia gastronómica en La Rioja capital con nuestros
                sánguches y
                viandas. ¡Te esperamos!</p>
        </main>
        <%- include ('partials/footer.ejs') %>
</body>

</html>