<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Inicia Sesion</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>
        <div class="top-side">
            <div class="top-side__logo">
                <img src="/public/images/logoG7.svg" alt="">
            </div>
            <div class="top-side__burguer-menu">
                <i class="fa-solid fa-burger"></i>
            </div>
        </div>
    </header>
    <main>
        <form class="form">
            <h2 class="form_title">Ingresa a GRUPO SIE7E</h2>
            <div class="form_container">
                <label for="user" class="form_label">Usuario / Email*</label>
                <input type="text" id="user" class="form_input" placeholder="Usuario / Email">
                <span class="form_line"></span>
            </div>
            <div class="form_container">
                <label for="pass" class="form_label">Contraseña*</label>
                <input type="password" id="pass" class="form_input" placeholder="Contraseña">
                <span class="form_line"></span>
            </div>
            <div class="form_container">
                <input type="submit" class="form_submit" value="Entrar">
                <p class="form_paragraph"><a href="#" class="form_link">Registrate →</a></p>
            </div>
        </form>
    </main>
</body>

</html>