<!DOCTYPE html>
<html lang="es-AR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productCartStyles.css">

    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!--Fuentes (de Google Fonts)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">

    <title>Carrito de Compras</title>
</head>

<body>
    <header>
        <div class="top-side">
            <div class="top-side__logo">
                <a href="/"><img src="/images/logoG7.svg" alt="logoG7"></a>
            </div>
            <div class="top-side__burguer-menu">
                <i class="fa-solid fa-burger"></i>
            </div>
            <nav>
                <ul>
                    <li><a href="/views/log_in.html">Log in <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="/views/productCart.html">Carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="cart">
            <header class="cart__title">
                <p class="cart__title--text"><i class="cart__title--icon fa-solid fa-cart-shopping"></i>Tu carrito (2
                    items)</i></p>
            </header>
            <div class="cart__content">
                <article class="cart__content--product">
                    <img src="/images/milanesa.jpg" class="cart__content--product-image">
                    <div class="cart__content--product-middleblox">
                        <p class="cart__content--product-middleblox-name">Milanesa</p>
                        <button class="cart__content--product-middleblox-quantityMinus">-</button>
                        <span class="cart__content--product-middleblox-quantity">1</span>
                        <button class="cart__content--product-middleblox-quantityPlus">+</button>
                    </div>
                    <p class="cart__content--product-price">$5.000,00</p>
                </article>
                <article class="cart__content--product">
                    <img src="/images/milanesa.jpg" class="cart__content--product-image">
                    <div class="cart__content--product-middleblox">
                        <p class="cart__content--product-middleblox-name">Pajarito</p>
                        <button class="cart__content--product-middleblox-quantityMinus">-</button>
                        <span class="cart__content--product-middleblox-quantity">1</span>
                        <button class="cart__content--product-middleblox-quantityPlus">+</button>
                    </div>
                    <p class="cart__content--product-price">$5.000,00</p>
                </article>
            </div>
            <footer class="cart__subtotal">
                <span class="cart__subtotal--text">Subtotal</span>
                <span class="cart__subtotal--price">$10.000,00</span>
            </footer>
            </div>
    </main>
    <footer class="mainFooter">
        <button class="mainFooter__checkout-button">Finalizar compra</button>
        <p class="mainFooter__copyright">© Grupo Sie7e y asociados. Todos los derechos reservados</p>
    </footer>
</body>

</html>