<!DOCTYPE html>
<html lang="es-AR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../public/css/registerStyle.css">

    <title>Registrarse</title>
</head>

<body>

    <header>
        <div class="top-side">
            <div class="top-side__logo">
                <img src="/public/images/logoG7.svg" alt="">
            </div>
            <div class="top-side__burguer-menu">
                <i class="fa-solid fa-burger"></i>
            </div>
        </div>
    </header>


    <main>
        <div class="form">

            <form class="" action="">

                <label for="Nombre y Apellido"></label>
                <div class="campos-form">
                    <input type="text" id="nombre" name="nombre" required placeholder="Nombre y Apellido">
                </div>


                <label for="phone"></label>
                <div class="campos-form">
                    <input type="text" id="phone" name="phone" required placeholder="Telefono">
                </div>

                <label for="email"></label>
                <div class="campos-form">
                    <input type="text" id="email" name="email" required placeholder="Mail">
                </div>


                <label for="address"></label>
                <div class="campos-form">
                    <input type="text" id="address" name="address" required placeholder="Direccion">
                </div>


                <label for="Nombre de Usuario"></label>
                <div class="campos-form">
                    <input type="text" id="name_user" name="name_user" required placeholder="Nombre de Usuario">
                </div>

                <label for="contrasena"></label>
                <div class="campos-form">
                    <input type="password" id="password" name="password" required placeholder="Contraseña">
                </div>

            </form>
            
            <button type="submit" class="button">Crear Cuenta</button>

        </div>


    </main>

    <footer>
        <p class="mainFooter__copyright">© Grupo Sie7e y asociados. Todos los derechos reservados</p>

    </footer>


</body>

</html>