:root {
    --mustard: #f7a81b;
    --mustard-shadow: #946410;
    --dark-mustard: #e49c00;
    --orange: #e85829;
    --orange-shadow: #6d2a14;
    --mayonnaise: #f9d8b8;
    --mayonnaise-shadow: #d49e67;
    --dark-mayonnaise: #f8c18a;
    --darker-mayonnaise: #e6bc92;
    --dark-blue: #101923;
    --max-width-hf: 1500px;
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-color: var(--mayonnaise);
    padding: 40px 20px;
    flex-grow: 1;
}

.main-header-container {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 2px var(--dark-blue);
}

.main-header-container,
.main-footer-container {
    width: 100%;
    height: 48px;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*inicio header*/
.main-header {
    width: 100%;
    height: 48px;
    max-width: var(--max-width-hf);
    background-color: var(--dark-blue);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__logo {
    height: 60%;
    display: flex;
    margin-right: 15px;
}

.main-header__logo img {
    width: 100%;
    height: 100%;
}

.main-header nav {
    display: none;
}

.main-header__burguer-menu {
    width: 38px;
    height: 38px;
    min-width: 38px;
    background-color: var(--mustard);
    color: var(--dark-blue);
    border-radius: 5px;
    box-shadow:
        3px 3px var(--mustard-shadow),
        /* Genero un par de sombras   */
        2px 2px var(--mustard-shadow),
        /* Genero un par de sombras   */
        1px 1px var(--mustard-shadow);
    display: flex;
    position: relative;
    top: -1.5px;
    justify-content: center;
    cursor: pointer;
    /*alinea la imagen del burguer*/
    align-items: center;
    /*------------*/
    font-size: 26px;
    /* para crear una ilusion 3D */
    transition: all 37ms;
}

.main-header__burguer-menu:active {
    background-color: #b67c00;
    box-shadow: none;
    position: relative;
    transform: translate(3px, 3px);
}

.menu {
    width: 100vw;
    background-color: var(--dark-blue);
    color: var(--mayonnaise);
    font-size: 16px;
    display: none;
    position: absolute;
    top: 48px;
    right: 0;
    z-index: 100;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    animation: burguer-menu-animation 0.2s;
    list-style-type: none;
    gap: 5px;
    padding-right: 10px;
}

@keyframes burguer-menu-animation {
    0% {
        top: 20px;
    }

    100% {
        top: 48px;
    }
}

.menu li a {
    color: var(--mayonnaise);
    text-decoration: none;
}

.menu.show {
    display: flex;
}


/*fin header*/

.floating-cart-button {
    width: 50px;
    height: 50px;
    background-color: var(--mustard);
    color: var(--dark-blue);
    font-size: 25px;
    line-height: 55px;
    border: solid 2px var(--dark-mustard);
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    position: fixed;
    right: 13px;
    bottom: 60px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}

.floating-cart-button:hover {
    background-color: var(--dark-blue);
    color: var(--mustard);
    border: none;
    cursor: pointer;
}

/*inicio footer*/

.main-footer {
    width: 100%;
    height: 48px;
    max-width: var(--max-width-hf);
    background-color: var(--dark-blue);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.main-footer__copyright {
    color: var(--mayonnaise);
    font-size: 0.5rem;
    text-align: center;
}

.main-footer__about-us {
    color: var(--mayonnaise);
    font-size: 0.72rem;
    text-align: right;
    display: none;
}

.main-footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-footer__socials i {
    color: var(--mayonnaise);
    font-size: 15px;
    transition: color 0.3s;
}

.social-icon-ig i:hover {
    color: #c13584;
}

.social-icon-fb i:hover {
    color: #3b5998;
}

.social-icon-tw i:hover {
    color: #1da1f2;
}

.social-icon-yt i:hover {
    color: #ff0000;
}

/*fin footer*/
@media (min-width: 375px) {
    .main-header,
    .main-footer {
        padding: 0 40px;
    }

    .floating-cart-button {
        right: 33px;
    }

    .main-footer__copyright {
        font-size: 0.72rem;
        text-align: left;
    }

    .main-footer__socials i {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .main-header__burguer-menu {
        display: none;
    }

    .main-header nav {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-grow: 1;
        gap: 15px;
    }

    .main-header nav span a {
        color: var(--mustard);
        text-decoration: none;
        width: 100%;
        height: 100%;
    }

    .main-header__admin {
        margin-right: 20px;
    }

    .main-header__admin a {
        color: var(--orange) !important;
    }

    .main-header__admin a:hover {
        color: #0095B6 !important;
    }

    .main-header__products {
        margin-right: 10px;
    }

    .main-header nav span a:hover {
        color: var(--mayonnaise);
    }

    .main-header__login {
        width: 110px;
    }

    .main-header nav .main-header__register a {
        color: var(--dark-blue);
        background-color: var(--mustard);
        padding: 6px 12px;
        width: fit-content;
        border-radius: 10px;
    }

    .floating-cart-button {
        right: 60px;
    }

    .main-footer__about-us {
        display: block;
    }
}