body {
    background-color: var(--mayonnaise);
    color: var(--dark-blue);
    font-weight: normal !important;
    line-height: normal !important;
}

/* Los !important son necesarios para pisar hojas
de estilo de Bootstrap que comprometen la unifor-
midad del header en todas las paginas */
p, ul {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

/* Logo */
.logo-container {
    background-color: var(--dark-blue);
    display: flex;
    height: 48px;
    align-items: center;
}

.logo {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo img {
    display: flex;
    height: 100%;
    width: 76%;
}

.logo a {
    display: flex;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.buscador-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mustard);
    box-shadow: 0px 2px 4px var(--mustard-shadow);
}

.buscador {
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.buscador input {
    width: 250px;
    height: 35px;
}

.buscador button {
    background-color: var(--orange);
    color: white;
    width: 35px;
    height: 35px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    border-color: var(--orange);
    box-shadow:
        4px 4px var(--mustard-shadow),
        3px 3px var(--mustard-shadow),
        2px 2px var(--mustard-shadow),
        1px 1px var(--mustard-shadow);
    position: relative;
    bottom: 3px;
    transition:
        transform 10ms,
        box-shadow 50ms;
}

.buscador button:active {
    position: relative;
    background-color: #ce4f24;
    box-shadow: none;
    transform: translate(4px, 4px);
}

/* Main Content */
main {
    background-color: var(--mayonnaise);
    padding: 30px;
}

/* Carrusel */
.carrusel {
    margin: 2vh auto;
    padding: 0 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.carousel-inner,
.carousel-item {
    height: 250px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 3%;
}

/* Sección de Productos */
.container-card {
    padding: 20px;
    margin-top: 20px;

}

.container-card h2 {
    margin-bottom: 20px;
    color: var(--dark-blue);
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products-cards {
    flex: 1;
    margin: 25px 10px 0px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
    border: 1.5px solid var(--darker-mayonnaise);
    border-radius: 10px;
    background-color: var(--dark-mayonnaise);
    transition: all 0.3s ease;
}

.products-cards:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px var(--dark-blue);
}

.products-cards img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}

.products-cards h3 {
    margin: 10px 0;
    color: var(--dark-blue);
}

.products-cards p {
    font-size: 14px;
    color: #666;
}

/* Footer */
.epc-container {
    background-color: var(--mustard);
    color: var(--dark-blue);
    padding: 20px 0;
}

.epc {
    padding: 10px;
    text-align: center;
    flex: 1 1 33%;
}

.epc i {
    font-size: 30px;
    transition: all 0.3s ease;
}

.epc:hover i {
    color: var(--mayonnaise);
    transform: rotateZ(-90deg);
}

.epc p {
    margin-top: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .buscador-container, .products {
        flex-direction: column;
    }

    .products-cards {
        width: 100%;
    }

    .carrusel {
        margin: 2vh 5%;
    }

    .container-card {
        padding: 20px 10px;
    }

    .buscador{
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .epc {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 430px) {
    .products {
        flex-direction: column;
    }

    .products-cards {
        width: 100%;
    }

    .carrusel {
        margin: 2vh 2%;
    }
}