/* Estilos generales */
body {
    background-color: var(--mayonnaise);
    /* Fondo en color Mayonesa */
    color: var(--dark-blue);
    /* Texto en color Azul Oscuro */
    font-weight: normal !important;
    line-height: normal !important;
}

/* Los !important son necesarios para pisar hojas
de estilo de Bootstrap que comprometen la unifor-
midad del header en todas las paginas */
ul {
    margin: 0 !important;
    padding: 0 !important;
}

/* Logo */
.logo-container {
    background-color: var(--dark-blue);
    display: flex;
    height: 48px;
    align-items: center;
}

.logo {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo img {
    display: flex;
    height: 100%;
    width: 76%;
}

.logo a {
    display: flex;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.buscador-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mustard);
    /* Fondo en color Mostaza */
    box-shadow: 0px 2px 4px var(--mustard-shadow);
    /* Sombra en color Sombra mostaza */
}

.buscador {
    display: flex;
    align-items: center;
}

.buscador input {
    width: 250px;
    /* Ajusta el ancho según tus necesidades */
}

.buscador button {
    background-color: var(--orange);
    color: white;
    width: 4vh;
    height: 4vh;
    padding: 1vh;
    border: none;
    border-radius: 8px;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    border-color: var(--orange);
    box-shadow:
        0.4vh 0.4vh var(--mustard-shadow),
        0.2vh 0.2vh var(--mustard-shadow);
    position: relative;
    bottom: 3px;
    transition:
        background-color 50ms,
        transform 10ms,
        box-shadow 50ms;
}

.buscador button:active {
    position: relative;
    background-color: #ce4f24;
    box-shadow: none;
    transform: translate(0.4vh, 0.4vh);
}

/* Main Content */
main {
    background-color: var(--mayonnaise);
    /* Fondo en color blanco */
    padding: 30px;
}

/* Carrusel */
.carrusel {
    margin: 2vh auto;
    padding: 0 20px;
    /* Espacio de 20px a los costados */
    max-width: 100%;
    box-sizing: border-box;
}

.carousel-inner,
.carousel-item {
    height: 250px;
    /* Altura fija para mantener el aspecto rectangular */
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 3%;
}

/* Sección de Productos */
.container-card {
    padding: 20px;
    margin-top: 20px;

}

.container-card h2 {
    margin-bottom: 20px;
    color: var(--dark-blue);
    /* Texto en color Azul Oscuro */
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products-cards {
    flex: 1;
    margin: 25px 10px 0px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 10px 15px var(--dark-blue);
    background-color: var(--dark-mayonnaise);
}

.products-cards img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}

.products-cards h3 {
    margin: 10px 0;
    color: var(--dark-blue);
    /* Texto en color Azul Oscuro */
}

.products-cards p {
    font-size: 14px;
    color: #666;
}

/* Footer */
footer {
    background-color: var(--mustard);
    /* Fondo en color Mostaza */
    color: var(--dark-blue);
    /* Texto en color Azul Oscuro */
    padding: 20px 0;
}

footer section {
    display: flex;
    justify-content: center;
}

.epc, .epc3 {
    padding: 10px;
    text-align: center;
    flex: 1 1 33%;
}

.epc:hover i {
    color: var(--mayonnaise);
}

.epc h4, .epc3 h4 {
    margin-top: 10px;
    margin-bottom: 0;
}

/* Estilos para los iconos de redes sociales y otras secciones */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icon {
    font-size: 24px;
    color: var(--dark-blue);
    /* Texto en color Azul Oscuro */
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: var(--mayonnaise);
}

h1, h2,h3 {
    font-family: Merriweather;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .buscador-container, .products {
        flex-direction: column;
    }

    .products-cards {
        width: 100%;
    }

    .carrusel {
        margin: 2vh 5%;
    }

    .container-card {
        padding: 20px 10px;
    }

    .buscador{
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .epc, .epc3 {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 430px) {
    .products {
        flex-direction: column;
    }

    .products-cards {
        width: 100%;
    }

    .carrusel {
        margin: 2vh 2%;
    }
}