main {
    height: 100%;
    background-color: var(--mayonnaise);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: var(--dark-blue);
}

.icon_log {
    display: flex;
    flex-direction: column;
}

.title {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title span {
    margin-top: 10px;
}



.Log_externo {
    background-color: var(--mustard);
    color: var(--dark-blue);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: solid 1px gray;
    border-radius: .5em;
    cursor: pointer;
}

label {
    display: none;
}

.form {
    width: 90%;
    max-width: 50%;
    max-height: 75%;
    min-width: 300px;
    background-color: transparent;
    margin: auto;
    text-align: center;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 30%);
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form_title {
    font-size: 24px;
    margin-bottom: .5em;
}

.form_paragraph {
    font-weight: 300;
}

.form_link {
    color: black;
    font-weight: 400;
}

.form_container {
    display: grid;
    margin-top: 1em;
    gap: 1.5em;
    padding-top: 10px;
}

.form_group {
    position: relative;
}

.form_input {
    width: 100%;
    background-color: transparent;
    color: #a4977f;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgb(151, 141, 141);
    outline: none;
    background: none;
}

.form_submit {
    width: 60%;
    background-color: var(--orange);
    color: white;
    padding: .8em 0;
    font-size: 1rem;
    font-weight: 300;
    border: none;
    border-radius: .5em;
    box-shadow:
        4px 4px var(--orange-shadow),
        2px 2px var(--orange-shadow);
    transition:
        background-color 50ms,
        transform 10ms,
        box-shadow 50ms;
    cursor: pointer;
    justify-self: center;
}

.form_submit:active {
    background-color: #ce4f24;
    box-shadow: none;
    position: relative;
    transform: translate(4px, 4px);
}

.form_container:last-of-type {
    margin-bottom: 41px;
}

/*UN MEDIAQUERI SOLO PORQUE ME DA TOC EN UN PARTE XD*/

@media (min-width: 530px) {
    .icon_log {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

/*TABLETS +*/
@media (min-width: 768px) {
    .icon_log {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}