/*
-------Nueva Paleta-------

Mostaza: #f7a81b
Sombra mostaza: #946410

Mostaza oscuro: #e49c00

Naranja: #e85829
Sombra naranja: #6d2a14

Mayonesa: #f9d8b8
Sombra mayonesa: #d49e67

Mayonesa oscuro: #f8c18a
Mayonesa mas oscuro: #e6bc92

Azul Oscuro: #101923

-------Nuevas Fuentes-------

Verdana
Vaytone (LOGO)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #101923;
}

header {
    grid-area: header;
    background-color: #4c4eaf;
    height: 60%;
}

/*------------------header with logo------------------*/
.top-side {
    background-color: #101923;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
}

.top-side__logo {
    display: flex;
    flex-grow: 1;
    height: 60%;
    width: 100%;
}

.top-side__logo a {
    display: flex;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.top-side__burguer-menu {
    display: flex;
    /*alinea la imagen del burguer*/
    align-items: center;
    justify-content: center;
    /*------------*/
    font-size: 26px;
    margin-right: 15px;
    color: #101923;
    background-color: #f7a81b;
    width: 20%;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow:
        0.4vh 0.4vh #946410,
        0.2vh 0.2vh #946410;
    transition:
        background-color 50ms,
        transform 10ms,
        box-shadow 50ms;
}

.top-side nav {
    display: none;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 15px;
}

.top-side nav ul {
    gap: 15px;
}

.top-side nav ul li {
    list-style-type: none;
    color: #f7a81b;
    width: 80px;
}

.top-side nav ul li a {
    color: inherit;
    text-decoration: none;
}

/*------------------end header with logo------------------*/

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

main {
    background-color: #f9d8b8;
    height: calc(100vh - (48px * 2));
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.icon_log {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;

}

.title span {
    margin-top: 10px;
}



.Log_externo {
    padding: 20px;
    margin: 10px;
    border: solid 1px gray;
    border-radius: .5em;
    text-align: center;
    cursor: pointer;
    color: #101923;
    background-color: #f7a81b;

}

label {
    display: none;
}




.form {
    background-color: transparent;
    margin: auto;
    width: 90%;
    max-height: 75%;
    max-width: 50%;
    min-width: 300px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 30%);
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.form_title {
    font-size: 24px;
    margin-bottom: .5em;
}

.form_paragraph {
    font-weight: 300;

}

.form_link {
    font-weight: 400;
    color: black;
}

.form_container {
    margin-top: 1em;
    display: grid;
    gap: 1.5em;
    padding-top: 10px;

}

.form_group {
    position: relative;
}

.form_input {
    width: 100%;
    background: none;
    background-color: transparent;
    color: #a4977f;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(151, 141, 141);
    font-family: Roboto;

}

.form_submit {
    background-color: #e85829;
    color: white;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1rem;
    width: 60%;
    justify-self: center;
    padding: .8em 0;
    border-radius: .5em;
    border: none;
    box-shadow:
        0.4vh 0.4vh #6d2a14,
        0.2vh 0.2vh #6d2a14;
    transition:
        background-color 50ms,
        transform 10ms,
        box-shadow 50ms;
}

.form_submit:active,
.top-side__burguer-menu:active {
    position: relative;
    background-color: #ce4f24;
    box-shadow: none;
    transform: translate(0.4vh, 0.4vh);
}

.divFooter {
    display: flex;
    background-color: #101923;
    height: 48px;
    max-height: 25vh;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 5px;
    padding-left: 5px;

}

.textFooter {
    color: white;
    font-size: 1.2vh;

}

/*UN MEDIAQUERI SOLO PORQUE ME DA TOC EN UN PARTE XD*/

@media (min-Width: 530px) {
    .icon_log {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    main {
        padding: 10%;
    }

}

/*TABLETS +*/
@media (min-width: 768px) {

    .top-side__burguer-menu {
        display: none;
    }

    .top-side nav {
        display: flex;
    }

    .top-side nav ul {
        display: flex;
    }

    .icon_log {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    main {
        padding-top: 10%;
    }
}