/*
-------Nueva Paleta-------

Mostaza: #f7a81b
Sombra mostaza: #946410

Mostaza oscuro: #e49c00

Naranja: #e85829
Sombra naranja: #6d2a14

Mayonesa: #f9d8b8
Sombra mayonesa: #d49e67

Mayonesa oscuro: #f8c18a
Mayonesa mas oscuro: #e6bc92

Azul Oscuro: #101923

-------Nuevas Fuentes-------

Verdana
Vaytone (LOGO)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #101923;
}

header {
    height: 48px;

}

.top-side {
    background-color: hsl(212, 37%, 10%);
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/*REEMPLAZAR POR IMAGEN DE LOGO*/
.top-side__logo {
    margin-left: 15px;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-side__logo img {
    height: 60%;
}

.top-side__burguer-menu {
    font-size: 26px;
    margin-right: 15px;
    display: flex;
    /*alinea el div*/
    justify-self: center;
    align-self: center;
    /*------------*/
    /*alinea la imagen del burguer*/
    align-items: center;
    justify-content: center;
    /*------------*/
    color: #101923;
    background-color: #f7a81b;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow:
        0.4vh 0.4vh #946410,
        /* Genero un par de sombras para  */
        0.2vh 0.2vh #946410;
    /* crear la ilusion 3D */
    cursor: pointer;
}

/*fin header*/

body {
    display: flex;
    max-height: 100vw;
    flex-direction: column;


}

main {
    background-color: #f9d8b8;
}

.form {
    background-color: transparent;
    margin: auto;
    width: 90%;
    height: 88vh;
    max-height: 75%;
    max-width: 50%;
    min-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 30%);
    text-align: center;
    justify-content: center;

}

.form_title {
    font-size: 2rem;
    margin-bottom: .5em;
}

.form_paragraph {
    font-weight: 300;

}

.form_link {
    font-weight: 400;
    color: black;
}

.form_container {
    margin-top: 3em;
    display: grid;
    gap: 1.5em;

}

.form_group {
    position: relative;
}

.form_input {
    width: 100%;
    background: none;
    background-color: #f7a81b;
    color: #a4977f;
    font-size: 1rem;
    padding: .6em .3em;
    border: solid 1px gray;
    outline: none;
    border-bottom: 1px solid rgb(151, 141, 141);
    font-family: Roboto;
    border-radius: .5em;
    box-shadow:
        0.4vh 0.4vh #946410,
        /* Genero un par de sombras para  */
        0.2vh 0.2vh #946410;
    /* crear la ilusion 3D */
}

.form_submit {
    background-color: #e85829;
    color: white;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border-radius: .5em;
    border: none;
    box-shadow:
        0.4vh 0.4vh #6d2a14,
        /* Genero un par de sombras para  */
        0.2vh 0.2vh #6d2a14;
    /* crear la ilusion 3D */
}

.divFooter {
    background-color: #101923;
    height: 40px;
    max-height: 25vh;
}

.textFooter {
    color: white;
    font-size: 1.2vh;

}