/* html,
body {
    height: 100%;
} */

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 48px auto 48px;
    grid-template-columns: 100%;
    height: 100%;
}

header {
    grid-area: header;
    background-color: #4c4eaf;
    height: 100%;
}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--mayonnaise);
    height: 100%;
    width: 100%;
}

footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);
    height: 48px;
}

.stripe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    min-width: 280px;
    margin: 40px 0 0 0;
}

hr {
    width: 40vw;
    background-color: var(--orange);
    height: 1px;
}

.stripe__tags--product-description {
    border: 1px solid var(--orange);
    border-radius: .5em;
}


.stripe__tags--product-name,
.stripe__tags--product-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.stripe__tags--product-name p {
    text-align: center;
    font-weight: bold;
    color: var(--dark-blue);
    font-size: 20px;
    padding-bottom: 10px;
}

.stripe__tags--product-description p {
    color: var(--dark-blue);
    font-size: small;
    text-align: justify;
}

.stripe__info {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.stripe__info--values :nth-child(4) {
    text-align: center;
    background-color: var(--mayonnaise);
    border-radius: 5px;
    background-color: white;
}

.stripe__photo img {
    border-radius: 26px 58px;
    border: 1px solid var(--orange);

}

.stripe__photo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.stripe__photo img {
    align-self: center;
    height: 100%;
    max-height: 30vw;
    min-height: 280px;
    width: 40vw;
    /*wanky ass width*/
    min-width: 280px;
}

.stripe__info form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.stripe__info--values {
    display: grid;
    padding: 10px;
    grid-template-columns: 20px 70px 20px 20px 20px;
    grid-template-rows: 1fr;
    gap: 10px;
}

.stripe__info--values input,
.stripe__info--values label {
    font-size: 12px;
}

.stripe__info--values input {
    background-color: var(--mustard);
    color: var(--dark-blue);
    width: 20px;
    height: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.stripe__button {
    display: flex;
    border-radius: 5px;
    background-color: var(--orange);
    box-shadow: 2px 2px 2px rgb(75, 75, 75);
    width: 150px;
    margin: 40px 0 40px 0;
}

.stripe__button input,
.stripe__button label {
    font-weight: 500;
    text-transform: uppercase;
    /* text-shadow: 1px 1px .5px var(--dark-blue); */
    height: 40px;
    color: white;
    width: 50%;
    transition:
        background-color 50ms,
        transform 10ms,
        box-shadow 50ms;
    cursor: pointer;
}

.stripe__button input {
    border: none;
    background-color: transparent;
}

.stripe__button label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripe__button:active {
    position: relative;
    background-color: #ce4f24;
    box-shadow: none;
    transform: translate(0.4vh, 0.4vh);
}

.cart__btn {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 55px;
    bottom: 50px;
    right: 15px;
    background-color: var(--mustard);
    color: var(--dark-blue);
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.cart__btn:hover {
    background-color: var(--dark-blue);
    color: var(--mustard);
}


/*TELEFONOS*/
@media (max-width: 375px) {
    .stripe__tags--product-description {
        display: none;
    }
}

/*TABLETS +*/
@media (min-width: 768px) {
    .stripe__photo img {
        max-height: 30vw;
    }

    .stripe__tags {
        width: 40vw;
    }

    .stripe__info {
        width: 40vw;
    }

    hr {
        width: 40vw;
    }
}

@media (min-width: 1024px) {

    main {
        height: calc(100vh - (48px * 2));
        align-items: center;
    }

    .stripe {
        margin: 0;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 50vh;
    }

    .stripe__photo {
        display: flex;
        height: 50vh;
    }

    .stripe__photo img {
        width: auto;
        max-height: none;
        justify-self: center;
        align-items: center;
    }

    .stripe__tags {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        height: 100%;
        gap: 10px;
    }

    .stripe__info {
        width: 30%;
    }

    .stripe__info form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .stripe__button {
        box-sizing: content-box;
        align-self: flex-end;
        margin: 0;
        position: relative;
        bottom: 45%;
        right: 10px;
        width: 13%;
    }
}