main {
    background-color: var(--mayonnaise);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cart {
    background-color: var(--dark-mayonnaise);
    width: 94%;
    height: 100%;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 70px 3vw 40px;
    margin-top: 60px;
}

.cart__title {
    background-color: var(--dark-mayonnaise);
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    top: -60px;
    padding: 50px;
}

.cart__title--text {
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
}

.cart__title--icon {
    font-size: 2rem;
    color: var(--orange);
    margin-right: 1.5vw;
}

.cart__content {
    width: 100%;
    height: 56%;
}

.cart__content--product {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 150px 100px 50px;
    grid-template-areas:
        "image"
        "info"
        "price";
    justify-content: center;

    background-color: var(--mayonnaise);
    box-shadow: 5px 4px 1px 1px var(--mayonnaise-shadow);
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 30px 40px;
    margin-bottom: 30px;
}

.cart__content--product {
    grid-column-start: image;
    grid-row-end: price;
}

.cart__content--product-image {
    grid-area: image;
    justify-self: center;
    align-self: center;
}

.cart__content--product-middleblox {
    grid-area: info;
    justify-self: center;
    align-self: center;
}

.cart__content--product-price {
    grid-area: price;
    justify-self: center;
    align-self: center;
}

.cart__content--product-image {
    flex-grow: 1;
    max-width: 200px;
    border: var(--mustard) 3px solid;
    border-radius: 25px;
    height: 100%;
}

.cart__content--product-middleblox {
    height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cart__content--product-middleblox-name {
    font-weight: bold;
    width: 100%;
}

.cart__content--product-middleblox-quantityMinus,
.cart__content--product-middleblox-quantityPlus {
    background-color: var(--orange);
    color: white;
    width: 45px;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        2px 2px var(--orange-shadow);
    cursor: pointer;
    transition:
        background-color 50ms,
        transform 20ms,
        box-shadow 20ms;
}

.cart__content--product-middleblox-quantityMinus:active,
.cart__content--product-middleblox-quantityPlus:active {
    position: relative;
    background-color: #ce4f24;
    box-shadow: none;
    transform: translate(2px, 2px);
}

.cart__content--product-middleblox-quantity {
    background-color: var(--darker-mayonnaise);
    width: 65px;
    height: 65px;
    font-size: 1.7rem;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0 10px 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__subtotal {
    background-color: var(--dark-mustard);
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 1.7rem;
    padding: 30px;
}

.cart__subtotal--price {
    font-weight: bold;
}

.mainFooter__checkout-button {
    background-color: var(--orange);
    color: white;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 8px;
    border: none;
    border-radius: 15px;
    box-shadow:
        4px 4px var(--orange-shadow),
        2px 2px var(--orange-shadow);
    cursor: pointer;
    transition:
        background-color 50ms,
        transform 10ms,
        box-shadow 50ms;
}

.mainFooter__checkout-button:active {
    position: relative;
    background-color: #ce4f24;
    box-shadow: none;
    transform: translate(4px, 4px);
}

/*TABLETS +*/
@media (min-width: 768px) {
    .cart {
        align-items: normal;
    }

    .cart__content--product {
        background-color: var(--mayonnaise);
        box-shadow: 5px 4px 1px 1px var(--mayonnaise-shadow);
        font-size: 2rem;
        width: 100%;
        height: 50%;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px 40px;
        margin-bottom: 40px;
    }

    .cart__content--product-image {
        margin-left: 25px;
    }
}