/* Paleta de colores */
:root {
    /* Colores base */
    --azul-cobalto: #0047AB;
    --violeta-oscuro: #4B0082;
    --verde-azulado: #0095B6;
    --gris-claro: #E0E0E0;
    --blanco: #FFFFFF;

    /* Sombras */
    --sombra-azul-cobalto: #003a83;
    --sombra-violeta-oscuro: #3a0070;
    --sombra-verde-azulado: #007890;
    --sombra-gris-claro: #B0B0B0;

    /* Tonos más claros */
    --tono-claro-azul-cobalto: #4DB2FF;
    --tono-claro-violeta-oscuro: #824BFF;
    --tono-claro-verde-azulado: #66D9FF;
    --tono-claro-gris-claro: #F0F0F0;
}

* {
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--tono-claro-gris-claro);
    margin: 0;
}

.main-header {
    width: 100%;
    height: 48px;
    background-color: var(--tono-claro-verde-azulado);
    padding: 10px 100px;
    display: flex;
    align-items: center;
}

.main-header__logo, .main-header__logo img {
    height: 28px;
}

.main-header__pipe {
    font-size: 20px;
    font-weight: bold;
    margin: 0 7px 0 25px;
    color: var(--azul-cobalto);
}

.main-header__title{
    color: var(--azul-cobalto);
    font-size: larger;
    font-weight: bolder;
}

main {
    padding: 0 60px 20px;
}

h1 {
    color: var(--azul-cobalto);
    font-size: 24px;
    margin: 30px 10px 20px;
}

form {
    width: 100%;
}

form section {
    background: var(--blanco);
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input[type="text"]:first-of-type {
    margin-bottom: 5px;
}

.search-button {
    margin-bottom: 20px;
}

.product-form__data--checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.product-form__data--checkbox-container {
    display: flex;
    align-items: center;
}

.product-form__data--checkbox-container input{
    margin-left: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--sombra-gris-claro);
    border-radius: 4px;
    background-color: var(--blanco);
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
    border-color: var(--azul-cobalto);
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--tono-claro-violeta-oscuro);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: all 37ms;
}

button.blue-button {
    background-color: var(--tono-claro-azul-cobalto);
    box-shadow:
        2px 2px var(--sombra-azul-cobalto),
        1px 1px var(--sombra-azul-cobalto);
}

button.purple-button {
    background-color: var(--tono-claro-violeta-oscuro);
    box-shadow:
        2px 2px var(--sombra-violeta-oscuro),
        1px 1px var(--sombra-violeta-oscuro);
}

.buttons-section {
    background-color: var(--tono-claro-gris-claro);
    box-shadow: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

button.blue-button:active {
    box-shadow: none;
    background-color: #4195d5;
    transform: translate(2px, 2px);
}

button.purple-button:active {
    box-shadow: none;
    background-color: #70359e;
    transform: translate(2px, 2px);
}

.main-footer {
    background-color: var(--tono-claro-verde-azulado);
    color: var(--azul-cobalto);
    font-size: 0.7rem;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}