main {
    width: 100%;
    background-color: var(--mayonnaise);
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart {
    width: 100%;
    height: 100%;
    max-width: 550px;
    max-height: 70%;
    min-width: fit-content;
    min-height: 470px;
    background-color: var(--dark-mayonnaise);
    padding: 30px 10px 10px;
    border-radius: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.cart__header--title {
    background-color: var(--dark-mayonnaise);
    color: black;
    padding: 10px;
    font-size: 0.75rem;
    text-transform: uppercase;
    border-radius: 15px 15px 0 0;
    display: flex;
    position: absolute;
    top: -18px;
    left: 0;
    justify-content: center;
    align-items: center;
}

.cart__header--icon {
    color: var(--orange);
    font-size: 0.9rem;
    margin-right: 5px;
}

.cart__content {
    width: 100%;
    height: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__content--product {
    width: 80%;
    height: fit-content;
    min-width: fit-content;
    background-color: var(--mayonnaise);
    padding: 20px 20px 10px;
    border-radius: 15px;
    box-shadow: 5px 4px 1px 1px var(--mayonnaise-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.cart__content--product-delete-icon {
    background-color: var(--orange);
    color: white;
    padding: 7px;
    margin: -25px;
    font-size: 25px;
    border: 4px solid var(--dark-mayonnaise);
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -10px;
    cursor: pointer;
    align-self: flex-start;
}

.cart__content--product-image {
    height: 100px;
    border: var(--mustard) 3px solid;
    border-radius: 25px;
    margin-bottom: 5px;
}

.cart__content--product-right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__content--product-middleblox {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.cart__content--product-middleblox-top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__content--product-middleblox-name {
    font-size: 1rem;
    font-weight: bold;
}

.cart__content--product-middleblox-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cart__content--product-middleblox-quantityMinus,
.cart__content--product-middleblox-quantityPlus {
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    box-shadow:
        2px 2px var(--orange-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 37ms;
    cursor: pointer;
}

.cart__content--product-middleblox-quantityMinus:active,
.cart__content--product-middleblox-quantityPlus:active {
    background-color: #ce4f24;
    box-shadow: none;
    position: relative;
    transform: translate(2px, 2px);
}

.cart__content--product-middleblox-quantity {
    min-width: 30px;
    min-height: 30px;
    background-color: var(--darker-mayonnaise);
    font-size: 1.7rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0.4;
}

.cart__subtotal {
    width: 100%;
    background-color: var(--dark-mustard);
    padding: 10px;
    font-size: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.cart__subtotal--price {
    font-weight: bold;
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 48px;
}

.checkout a {
    font-size: 0.8rem;
}

.checkout-button {
    width: fit-content;
    height: 50px;
    background-color: var(--orange);
    color: white;
    padding: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    box-shadow:
        4px 4px var(--orange-shadow),
        3px 3px var(--orange-shadow),
        2px 2px var(--orange-shadow),
        1px 1px var(--orange-shadow);
    display: flex;
    align-items: center;
    transition: all 37ms;
    cursor: pointer;
}

.checkout-button:active {
    background-color: #ce4f24;
    box-shadow: none;
    position: relative;
    transform: translate(4px, 4px);
}

.floating-cart-button {
    display: none;
}

.hidden {
    display: none;
}

.undoBtn {
    position: fixed;
    left: 10px;
    bottom: 48px;
}

/*TELEFONOS*/
@media (min-width: 375px) {
    .cart {
        width: 100%;
        padding: 20px 20px 20px 15px;
    }

    .cart__header {
        width: 55%;
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        padding-right: 2%;
        margin-bottom: 10px;
    }

    .cart__header--product {
        display: inline;
    }

    .cart__header--subtotal {
        display: inline;
    }

    .cart__content {
        width: 100%;
    }

    .cart__content--product {
        width: 100%;
        padding: 20px 20px 20px 50px;
        flex-direction: row;
        justify-content: space-between;
    }

    .cart__content--product-delete-icon {
        padding: 7px;
        margin: -50px;
        border: 4px solid var(--mayonnaise);
        top: 0;
        left: 16px;
        z-index: 10;
        align-self: center;
    }

    .cart__content--product-image {
        position: relative;
        right: -30px;
    }

    .cart__content--product-middleblox {
        max-width: 150px;
    }

    .cart__content--product-middleblox-bottom {
        width: 100%;
        height: 50%;
    }

    .cart__content--product-middleblox-quantity {
        max-width: 50px;
    }

    .cart__content--product-price {
        font-size: 1rem;
    }

    .checkout {
        flex-direction: row;
    }

    .checkout a {
        order: -1;
    }
}

@media (min-width: 530px) {
    .cart {
        width: 100%;
    }

    .cart__content {
        width: 100%;
    }

    .cart__content--product {
        width: 100%;
        justify-content: space-between;
    }

    .cart__content--product-right-box {
        width: 60%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .cart {
        max-width: 700px;
    }

}