/*body*/
body {
    background-color: var(--mayonnaise);
}

main {
    display: flex;
    justify-content: center;
}

.form {
    min-width: 375px;
    text-align: center;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 30%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form__text-above {
    color: var(--dark-blue);
    margin: 1em 0 .5em;
    font-size: 24px;
}

.form__logo {
    background-color: var(--dark-blue);
    padding: 15px;
    border-radius: 50px 0 0 50px;
}

.form_container {
    display: grid;
    margin-top: 1em;
    gap: 1.5em;
    padding-top: 10px;
    position: relative;
}

.form_container p {
    position: absolute;
    bottom: 0px;
    color: crimson;
}

.form_input {
    width: 100%;
    background-color: transparent;
    color: var(--dark-blue);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(151, 141, 141);
    outline: none;
    background: none;
}

.form_input:focus+.form_label,
.form_input:not(:placeholder-shown)+.form_label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: var(--orange);
}

.form_label {
    color: gray;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_submit {
    width: 60%;
    background-color: var(--orange) !important;
    color: white !important;
    padding: .8em 0;
    font-size: 1rem;
    font-weight: 300;
    border: none !important;
    border-radius: .5em;
    box-shadow:
        4px 4px var(--orange-shadow),
        3px 3px var(--orange-shadow),
        2px 2px var(--orange-shadow),
        1px 1px var(--orange-shadow);
    transition:
        background-color 50ms,
        transform 10ms,
        box-shadow 50ms;
    cursor: pointer;
    margin: 78px 0;
}

.image-error {
    color: crimson;
    text-align: left;
}

.form_submit:active,
.top-side__burguer-menu:active {
    background-color: #ce4f24;
    box-shadow: none;
    position: relative;
    transform: translate(4px, 4px);
}

.form_paragraph {
    font-weight: 300;
}

.form_link {
    color: black;
    font-weight: 400;
}

@media (max-width: 375px) {
    .form {
        min-width: 90vw;
    }
}