:root {
  /*COLORES USUARIOS*/
  --mustard: #f7a81b;
  --mustard-shadow: #946410;
  --dark-mustard: #e49c00;

  --orange: #e85829;
  --orange-shadow: #6d2a14;

  --mayonnaise: #f9d8b8;
  --mayonnaise-shadow: #d49e67;
  --dark-mayonnaise: #f8c18a;
  --darker-mayonnaise: #e6bc92;

  --dark-blue: #101923;

  --max-width-hf: 1500px;

  /*COLORES ADMINISTRACION*/
  --azul-cobalto: #0047AB;
  --violeta-oscuro: #4B0082;
  --verde-azulado: #0095B6;
  --gris-claro: #E0E0E0;
  --blanco: #FFFFFF;

  --sombra-azul-cobalto: #003a83;
  --sombra-violeta-oscuro: #3a0070;
  --sombra-verde-azulado: #007890;
  --sombra-gris-claro: #B0B0B0;

  --tono-claro-azul-cobalto: #4DB2FF;
  --tono-claro-violeta-oscuro: #824BFF;
  --tono-claro-verde-azulado: #66D9FF;
  --tono-claro-gris-claro: #F0F0F0;
}

#root {
  width: 100%;
  display: grid;
  justify-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--mayonnaise);
}

.tab {
  background-color: var(--dark-mayonnaise);
  margin: 25px 10px 0px;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s ease;
  flex: 1;
  margin-bottom: 50px;
  width: 80%;
}

.tab:hover {
  box-shadow: 0 10px 15px var(--dark-blue);
  cursor: pointer;
}

.tab-title {
  background-color: var(--dark-mustard);
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  margin-bottom: 1.5rem;
}

.tab-title,
.tab-content {
  padding-bottom: 1.5rem;
}

.tab-content p,
.tab-title h3 {
  color: var(--dark-blue);
}

.tab-content img{
  width: 70%;
}

.tab-content {
  display: grid;
  justify-items: center;
}