:root {
  /*COLORES USUARIOS*/
  --mustard: #f7a81b;
  --mustard-shadow: #946410;
  --dark-mustard: #e49c00;

  --orange: #e85829;
  --orange-shadow: #6d2a14;

  --mayonnaise: #f9d8b8;
  --mayonnaise-shadow: #d49e67;
  --dark-mayonnaise: #f8c18a;
  --darker-mayonnaise: #e6bc92;

  --dark-blue: #101923;

  --max-width-hf: 1500px;

  /*COLORES ADMINISTRACION*/
  --azul-cobalto: #0047ab;
  --violeta-oscuro: #4b0082;
  --verde-azulado: #0095b6;
  --gris-claro: #e0e0e0;
  --blanco: #ffffff;

  --sombra-azul-cobalto: #003a83;
  --sombra-violeta-oscuro: #3a0070;
  --sombra-verde-azulado: #007890;
  --sombra-gris-claro: #b0b0b0;

  --tono-claro-azul-cobalto: #4db2ff;
  --tono-claro-violeta-oscuro: #824bff;
  --tono-claro-verde-azulado: #66d9ff;
  --tono-claro-gris-claro: #f0f0f0;
}

#root {
  width: 100%;
  display: grid;
  justify-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--mayonnaise);
}


