.category {
    
    
    background-color: var(--dark-mayonnaise);
    text-align: center;
    border-radius: 10px;
    transition: box-shadow 0.50s ease;
    width: 100%;
    min-height: 300px;
    max-height: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    grid-area: chart;  
}

.category:hover {
    box-shadow: 0 6px 10px var(--dark-blue);
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.category-title {
    background: linear-gradient(150deg, var(--dark-mustard), #f4b860);
    border-radius: 10px 10px 0 0;
    padding: 20px;
    margin-bottom: 20px;
}

.category-title h3 {
    color: var(--dark-blue);
}

.category-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

@media (max-width: 1260px) {
    .category {
        margin-top: 20px ; 
    }
}