
.dashboard-container {
  width: 100%;
  padding: 1rem;
}

@media (min-width: 1260px) { /* Vista Desktop */
.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto; 
  gap: 40px;
  grid-template-areas:
    "panel panel panel"
    "product chart user";
    justify-items: center;
}
}

@media (max-width: 1260px) { /* Vista Mobile */
  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
   }
}

