<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="/public/css/UserProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src="/1000_F_456581427_5XpGqNqCwLAGwaFFvxVGvnW2teOfJ0ZL.jpg" alt="Foto de perfil">
            <h2>¡Hola, Panajordan!</h2>
        </div>

        <div class="profile-cards">
            <div class="card">
                <a href="#">
                    <h3>Información Personal</h3>
                    <p>Detalles sobre tu información personal.</p>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <h3>Historial de Pedidos</h3>
                    <p>Consulta tus pedidos recientes.</p>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <h3>Inicio de Sesión y Seguridad</h3>
                    <p>Gestión de tu cuenta y seguridad.</p>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <h3>Métodos de Pago</h3>
                    <p>Administra tus métodos de pago.</p>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <h3>Direcciones</h3>
                    <p>Gestiona tus direcciones de envío.</p>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <h3>Atención al Cliente</h3>
                    <p>Contacta con atención al cliente.</p>
                </a>
            </div>
        </div>


        <div class="profile-actions">
            <button class="logout-btn">Cerrar Sesión</button>
            <button class="delete-btn">Eliminar Cuenta</button>
        </div>
    </div>
</body>

</html>