<!DOCTYPE html>
<html lang="es-AR">

<head>
    <%- include("../partials/head.ejs") %>

        <title>Detalle de producto | Grupo Sie7e</title>

        <!--Hoja de estilos propia de esta página-->
        <link rel="stylesheet" href="/css/product-detail-styles.css">
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <div class="stripe">
                <div class="stripe__photo">
                    <img src="/images/milanesa.jpg" alt="">
                </div>
                <div class="stripe__tags">
                    <div class="stripe__tags--product-name">
                        <p>Sanguchardo con de todo EPIC</p>
                    </div>
                    <div class="stripe__tags--product-description">
                        <p>¡La más deliciosa combinación de Pan de lembas, mila, tomate, lechuga, cebolla, ajo,
                            mortadela,
                            queso, más queso, otra mila y mucho amor!</p>
                    </div>
                </div>
                <div class="stripe__info">
                    <form>
                        <div class="stripe__info--values">
                            <input type="radio" name="meat" id="check1" checked>
                            <label for="check1">Mila carne</label>
                            <input type="button" name="minus" id="minus" value="-">
                            <label>2</label>
                            <input type="button" name="plus" id="plus" value="+">
                        </div>
                        <div class="stripe__info--values">
                            <input type="radio" name="meat" id="check2">
                            <label for="check2">Suprema</label>
                            <input type="button" name="minus" id="minus" value="-">
                            <label>0</label>
                            <input type="button" name="plus" id="plus" value="+">
                        </div>
                        <div class="stripe__info--values">
                            <input type="radio" name="meat" id="check3">
                            <label for="check3">Pajarito</label>
                            <input type="button" name="minus" id="minus" value="-">
                            <label>0</label>
                            <input type="button" name="plus" id="plus" value="+">
                        </div>
                        <div class="stripe__info--values">
                            <input type="checkbox" name="tomato" id="check4" checked>
                            <label for="check4">Tomate</label>
                        </div>
                        <div class="stripe__info--values">
                            <input type="checkbox" name="lettuce" id="check5" checked>
                            <label for="check5">Lechuga</label>
                        </div>
                        <div class="stripe__info--values">
                            <input type="checkbox" name="onion" id="check6" checked>
                            <label for="check6">Cebolla</label>
                        </div>
                        <div class="stripe__info--values">
                            <input type="checkbox" name="garlic" id="check7" checked>
                            <label for="check7">Ajo</label>
                        </div>
                        <div class="stripe__info--values">
                            <input type="checkbox" name="mortadella" id="check8" checked>
                            <label for="check8">Mortadela</label>
                        </div>
                        <div class="stripe__info--values">
                            <input type="checkbox" name="cheese" id="check9" checked>
                            <label for="check9">Queso</label>
                            <input type="button" name="minus" id="minus" value="-">
                            <label>1</label>
                            <input type="button" name="plus" id="plus" value="+">
                        </div>
                        <div class="stripe__info--values">
                            <input type="checkbox" name="more_cheese" id="check10" checked>
                            <label for="check10">Más queso</label>
                            <input type="button" name="minus" id="minus" value="-">
                            <label>1</label>
                            <input type="button" name="plus" id="plus" value="+">
                        </div>
                        <div class="stripe__info--values">
                            <input type="checkbox" name="another_mila" id="check11" checked>
                            <label for="check11">Otra mila*</label>
                        </div>
                        <div class="stripe__info--values">
                            <input type="checkbox" name="love" id="check12" checked>
                            <label for="check12">Amor</label>
                        </div>
                    </form>
                </div>
                <div class="stripe__button">
                    <input type="submit" name="add-to-cart" id="add-to-cart" value="Agregar">
                    <label for="add-to-cart">$5.000</label>
                </div>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>
        <script>
            function toCart() {
                window.location.href = "/carrito";
            }
        </script>
</body>

</html>